<h1>Charts</h1>
	<p>Charts of data from the solar panel display below</p>

	<p> I'm having trouble understanding how D3</p>

	<p>Looking at these modules to help me draw charts:<p>
	<ul>
		<li><a href="https://www.npmjs.org/package/xcharts">XCharts</li>
		<li><a href="https://www.npmjs.org/package/quiche">Quiche</li>
	</ul>
