<h1>ITP Solar Server</h1>
<p><em>Get a little closer to the sun</em></p>

<p><a href='/data'>Data Tables</a></p>
<p><a href='/charts'>Charts</a></p>
<p><a href='/poetry'>Poetry</a></p>

<p><a href='/''>Home</a></p>