<h1>Sign Up for Solar Panel Updates!</h1>
<p>Receive emails when the battery is charged, when the panel determines dawn, and possibly generative solar poems</p>

<form action="/signup" method="post">
	<fieldset>
    	<legend>Enter your email</legend>
    	<label>Email address</label>
    	<input type="text" placeholder="apollo@helios.olympus">
    	<button type="submit" class="btn">Submit</button>
    </fieldset>
</form>
